*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
#datetime{
    font-size: 32px; 
    color: #000000;
}
#refresh{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
#refresh:hover{
    background-color: rgb(21, 21, 232);
}
